/ddclient/ddclient_debian_*.tar.gz
/dropbear/dropbear_debian_*.tar.gz
/ethtool/ethtool_debian_*.tar.gz
/frr_exporter/frr_exporter/
/frr_exporter/frr_exporter_v*.tar.gz
/frr/frr_stable_*.tar.gz
/frr/libyang_v*.tar.gz
/frr/rtrlib_v*.tar.gz
/hostap/hostap_*.tar.gz
/hostap/wpa_debian_*.tar.gz
/hsflowd/host-sflow_v*.tar.gz
/isc-dhcp/isc-dhcp-client-udeb_*.udeb
/isc-dhcp/isc-dhcp_debian_*.tar.gz
/kea/isc-kea_debian_*.tar.gz
/keepalived/keepalived_debian_*.tar.gz
/ndppd/ndppd_debian_*.tar.gz
/net-snmp/net-snmp_debian_*.tar.gz
/node_exporter/node_exporter_*.tar.gz
/opennhrp/opennhrp_*.tar.gz
/owamp/owamp_v*.tar.gz
/pam_tacplus/pam_tacplus-debian_*.tar.gz
/pam_tacplus/pam_tacplus_*.tar.gz
/pmacct/pmacct_debian_*.tar.gz
/podman/podman_v*.tar.gz
/pyhumps/humps_v*.tar.gz
/radvd/radvd_*.tar.gz
/strongswan/strongswan_debian_*.tar.gz
/telegraf/telegraf_v*.tar.gz
